/* Adjustment of YearMonthView colors to AtlantaFX (primer-dark) colors */


/* Current day in MonthView and YearView */
.month-view > .container > .today,
.year-month-view > .container > .today {
    -fx-background-color: -color-accent-subtle !important;
}

/* YearMonthView background */
.year-month-view > .container {
    -fx-background-color: -color-bg-subtle !important;
}

/* Lines beneath weekday-names in YearView */
.year-month-view > .container > .day-of-week-label {
    -fx-border-color: transparent transparent -color-border-muted transparent !important;
}
/* Lines beneath weekday-names of current Month in YearView */
.year-month-view > .container > .current-date-border {
    -fx-border-color: transparent transparent #58a6ff60 transparent !important;
    -fx-border-width: 2.0;
}

/* Ways not belonging to month in YearView*/
.year-month-view > .container > .day-not-of-month-label {
    -fx-text-fill: -color-fg-muted !important;
    -fx-opacity: 0.4 !important;
}

/* Weekend-day in YearView */
.year-month-view > .container > .weekend-day {
    -fx-background-color: #8b949e33 !important;
}

.year-month-view .label,
.year-month-view .text {
    -fx-font-size: 1.05em !important;
    -fx-font-weight: bold !important;
    -fx-text-fill: #f0f6fc !important;
}

.year-month-view > .container .month-day.selected-month-date.day-of-month-label {
    -fx-background-color: #8b949e33 !important;
}

.year-month-view > .container {
    /*-fx-border-color: -color-base-8; */
    -fx-border-width: 2px;
    -fx-background-color: #30363d;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}



